/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: d-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}/* Giving our navbar some padding and a background color */
.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: #C33F84;
}

.latitude {
  color: white;
  font-family: verdana;
  font-size: 40px;
  background-color: #2874A6;
  border: 1px solid #2874A6;
    padding: 15px;
}

.container-fluid.navbar-brand{
      color: white;
      height: 60px;
      padding: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      font-size: 140%;
      background: #C84B6D;
}
.navbar-light .navbar-brand {
    color: rgb(77, 20, 183);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(110, 66, 191);
}



body{
    background-color:#e4e4e4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
}

.col-md-12 h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    
    background-color: white;
    
    
    
}

.container h1{
    font-weight: bold;
    font-size: 250%;
    color: #604A6E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
   padding: 20px;
    margin-left: 30px;
    align-content: center;
}

p {
    line-height: 1.8;
    margin-bottom: 70px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #6d3fbf;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.container h3{
  font-size: 1.75rem;
  color: #604A6E;
}

.container h2{
    font-weight: bold;
    font-size: 125%;
    color: #604A6E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
    margin-right: 35px;
    align-content: center;
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }
/* The footer is positioned at the bottom of the page */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(96, 74, 110);
  color: white;
  text-align: center;
  border-top-width: 5px;
  border-top-color:turquoise;
}


.footer p{
    color: white;
  }

#comparison {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#comparison p {
    margin-bottom: 20px;
}

#firstblock {
    width:90%;
}

.dataframe{
    margin-left: 100px;
}

.col-md-12 h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
  overflow: hidden;
}

tr:hover {
  background-color:rgb(96, 74, 110);
}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(96, 74, 110);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

@media (max-width: 480px) {
    
    .navbar-nav li {  
      padding: 10px;
    }
  
    