/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: d-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}/* Giving our navbar some padding and a background color */
.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: #5D6D7E;
}

.latitude {
  color: turquoise;
  font-family: verdana;
  font-size: 40px;
  background-color: #2874A6;
  border: 1px solid #2874A6;
    padding: 15px;
}

.container-fluid.navbar-brand{
      color: white;
      height: 60px;
      padding: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      font-size: 140%;
      background: rgb(31, 214, 196);
}



body{
    background-color:#e4e4e4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
}

.col-md-12 h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    
    background-color: white;
    
    
    
}

.container h1{
    font-weight: bold;
    font-size: 250%;
    color: turquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
   padding: 20px;
    margin-left: 30px;
    align-content: center;
}

p {
    line-height: 1.8;
    margin-bottom: 70px;
}

.container h2{
    font-weight: bold;
    font-size: 125%;
    color: turquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
    margin-right: 35px;
    align-content: center;
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(83, 83, 81);
  color: white;
  text-align: center;
  border-top-width: 5px;
  border-top-color:turquoise;
}


.footer p{
    color: white;
}

#comparison {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#comparison p {
    margin-bottom: 20px;
}

#firstblock {
    width:90%;
}

.dataframe{
    margin-left: 100px;
}

.col-md-12 h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    
    .navbar-nav li {  
      padding: 10px;
    }
  
    